{% extends 'base.html' %}

{% block etatactuel %}Modifier votre dispositif{% endblock etatactuel %}


{% block content %}
<form method="POST" class="card p-3 mt-2 myform" action="" autocomplete="off"> 
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="row p-2">
                <label for="section">Choisissez la répartition à laquelle correspond ce dispositif</label>
                {{form.section}}
            </div>
            {% comment %} <div class="row p-2">
                <label for="section">Choisissez le client auquel appartient ce dispositif</label>
                {{form.section}}
            </div> {% endcomment %}
            <div class="row p-2">
                <label for="numero_serie"> Numero serie </label>
                {{form.numero_serie}}
            </div>
            <div class="row p-2">
                <label for="nom_lieu"> Lieu d'emplacement </label>
                {{form.nom_lieu}}
            </div>
            <div class="row p-2">
                <label for="source_eau"> Source d'eau </label>
                {{form.source_eau}}
            </div>
            {% comment %} <div class="row p-2">
                <label for="latitude"> Latitude </label>
                {{form.latitude}}
            </div>
            <div class="row p-2">
                <label for="longitude"> Longitude </label>
                {{form.longitude}}
            </div> {% endcomment %}
            {% comment %} <div class="row p-2">
                <label for="altitude"> Altitude </label>
                {{form.altitude}}
            </div>
            <div class="row p-2">
                <label for="precision"> Précision </label>
                {{form.precision}}
            </div> {% endcomment %}              
        </div>
    </div>
    <div class="mt-2"> 
        <button style= "font-size: 15px;" type="submit" class="btn btn-info mb-3"><i class="fas fa-edit"></i>&nbsp;&nbsp;  Modifier</button>
    </div>
</form>

{% endblock content %}