{% extends 'base.html' %}

{% block etatactuel %}
Historique
{% endblock etatactuel %}

{% block content %}
<!-- Formulaire pour consulter l'historique -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="col-md-2 selection"> 
        <select name="section" class="form-select" required onchange="redirectToSection(this)">
            <option value="{% url 'historique' %}">Générale</option>
            {% for section in sections %}
                <option value="{% url 'historique_section' section.id %}">{{ section.nom_section }}</option>
            {% endfor %}
        </select> 
    </div>
    <div class="col-md-2.5 btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2 buttons">
            <a class="btn btn-info" href="{% url 'index' %}">
                <div class="flex-container">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>&nbsp;&nbsp; 
                    <span><strong>Dashboard</strong></span>
                </div>
            </a>
        </div>
        <div class="btn-group me-2 buttons">
            <a class="btn btn-info" href="{% url 'prevision' %}">
                <div class="flex-container">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;&nbsp;
                    <span><strong>Prévisions</strong></span>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<h4>Consulter l'historique pour voir la statistique descriptive sur les données de votre consommation générale</h4>
<div class="row">
    <div class="col-md-8">
        <form method="post" class="card p-3 myform consojour" autocomplete="off">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="date_debut" class="form-label">Date de début</label>
                    <input type="date" id="date_debut" name="date_debut" value="{{ mega.date_debut|default:'' }}" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="date_fin" class="form-label">Date de fin</label>
                    <input type="date" id="date_fin" name="date_fin" value="{{ mega.date_fin|default:'' }}" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-poll" aria-hidden="true"></i>&nbsp;&nbsp; 
                    <span><strong>Voir statistique</strong></span>
                </button>
                <button type="submit" name="download" value="true" class="btn btn-info">
                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp; 
                    <span><strong>Télécharger les données</strong></span>
                </button>
                <button type="submit" name="book" value="true" class="btn btn-info">
                    <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp; 
                    <span><strong>Rapport sur la période</strong></span>
                </button>
            </div>
        </form>
    </div>
</div>
{% if messages %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form>
                {% for message in messages %}
                <div class="form-group text-center">
                    <p id="messages" class="form-control">{{ message }}</p>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% else %}
{% if mega %}
    <h2>Résultats pour la période du {{ mega.date_debut }} au {{ mega.date_fin }}</h2>
    
    <h3>Statistiques globales :</h3>
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Statistique</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Moyenne globale de consommation</td>
                <td>{{ mega.context.moyenne }}</td>
            </tr>
            <tr>
                <td>Total global de consommation</td>
                <td>{{ mega.context.total }}</td>
            </tr>
            <tr>
                <td>Date de consommation minimale</td>
                <td>{{ mega.context.min_date }} ({{ mega.context.min_val }})</td>
            </tr>
            <tr>
                <td>Date de consommation maximale</td>
                <td>{{ mega.context.max_date }} ({{ mega.context.max_val }})</td>
            </tr>
        </tbody>
    </table>
    
    <h3>Interprétation :</h3>
    <p>La <strong>moyenne globale de consommation</strong> indique la quantité moyenne d'eau consommée par jour pendant la période spécifiée.</p>
    <p>Le <strong>total global de consommation</strong> représente la quantité totale d'eau consommée pendant la période, ce qui équivaut à la somme quotidienne.</p>
    <p>La <strong>date de consommation minimale</strong> correspond au jour où vous avez consommé la plus petite quantité d'eau pendant la période, avec une valeur minimale de {{ mega.context.min_val }}.</p>
    <p>La <strong>date de consommation maximale</strong> correspond au jour où vous avez consommé la plus grande quantité d'eau pendant la période, avec une valeur maximale de {{ mega.context.max_val }}.</p>

    <h3>Statistiques par section :</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Section</th>
                <th>Quantité totale</th>
            </tr>
        </thead>
        <tbody>
            {% for item in mega.context.consommation_par_section %}
                <tr>
                    <td>{{ item.section.nom_section }}</td>
                    <td>{{ item.total_quantite }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Statistiques par dispositif :</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Dispositif</th>
                <th>Quantité totale</th>
            </tr>
        </thead>
        <tbody>
            {% for item in mega.context.consommation_par_dispositif %}
                <tr>
                    <td>{{ item.dispositif.nom_lieu }}</td>
                    <td>{{ item.total_quantite }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Statistiques par source d'eau :</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Source d'Eau</th>
                <th>Quantité totale</th>
            </tr>
        </thead>
        <tbody>
            {% for item in mega.context.consommation_par_source_eau %}
                <tr>
                    <td>{{ item.source_eau }}</td>
                    <td>{{ item.total_quantite }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endif %}
{% endblock content %}

{% block scripts %}
<script>
    function redirectToSection(select) {
        var selectedOption = select.options[select.selectedIndex];
        var url = selectedOption.value;
        if (url !== "") {
            window.location.href = url;
        }
    }
</script>
{% endblock scripts %}