{% extends 'base.html' %}

{% block etatactuel %}
{{titre}}
{% endblock etatactuel %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="col-md-2 selection"> 
        <select name="section" class="form-select" required onchange="redirectToSection(this)">
            <option value="{% url 'index' %}">Générale</option>
            {% for section in sections %}
                <option value="{% url 'prevision_section' section.id %}">{{ section.nom_section }}</option>
            {% endfor %}
        </select> 
    </div>
    <div class="col-md-5">
        <form class="btn btn-info text-dark mb-3" method="get" action="{% url 'prevision' %}">
            <label for="unit">Type de prévision :</label>
            <select name="unit" id="unit" onchange="this.form.submit()">
                <option value="heure" {% if selected_unit == 'heure' %}selected{% endif %}>Horaire</option>
                <option value="jour" {% if selected_unit == 'jour' %}selected{% endif %}>Journalier</option>
                {% comment %} <option value="mois" {% if selected_unit == 'mois' %}selected{% endif %}>Mensuelle</option>
                <option value="trimestre" {% if selected_unit == 'trimestre' %}selected{% endif %}>Trimestrielle</option>
                <option value="semestre" {% if selected_unit == 'semestre' %}selected{% endif %}>Semestrielle</option>
                <option value="année" {% if selected_unit == 'année' %}selected{% endif %}>Annuelle</option> {% endcomment %}
            </select>
        </form>
    </div>
    <div class="col-md-2.5 btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2 buttons">
            <a class="btn btn-info" href="{% url 'historique'  %}">
                <div class="flex-container">
                    <i class="fa fa-history" aria-hidden="true"></i>&nbsp;&nbsp; 
                    <span><strong>Historique</strong></span>
                </div>
            </a>
        </div>
        <div class="btn-group me-2 buttons">
            <a class="btn btn-info" href="{% url 'index' %}">
                <div class="flex-container">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>&nbsp;&nbsp; 
                    <span><strong>Dashboard</strong></span>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
{% if messages %}
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-10">
        <form>
            {% for message in messages %}
                <div class="form-group text-center">
                    <p id="messages" class="form-control">{{ message }}</p>
                </div>
            {% endfor %}
        </form>
    </div>
</div>
{% else %}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
        <thead class="sticky-top" style="background-color: #65a9dc;">
            <tr class="">
                <th>Numéro</th>
                <th>Date</th>
                <th>Prévision</th>
                <th>Borne inférieure (IC)</th>
                <th>Borne supérieure (IC)</th>
            </tr>
        </thead>
        <tbody>
            {% for date, prediction, lower, upper in forecast_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ date|date:"d-m-Y" }}</td>
                <td>{{ prediction }}</td>
                <td>{{ lower }}</td>
                <td>{{ upper }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="quick-access">   
    <h3 class="separator text-center"> Graphique des Prévisions</h3>
    <div style="width: 95%; margin: 0 auto;" class="graph1">
        <canvas id="forecastChart"></canvas>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var rawDates = [];
    var rawQuantities = [];
    var forecastDates = [];
    var predictions = [];
    var lowerBounds = [];
    var upperBounds = [];

    // Génération des données pour les données brutes
    {% for date, quantity in daily %}
        rawDates.push("{{ date }}");
        rawQuantities.push({{ quantity }});
    {% endfor %}

    // Génération des données pour les prévisions et les intervalles de confiance
    {% for date, prediction, lower, upper in forecast_data %}
        forecastDates.push("{{ date|date:'Y-m-d' }}");
        predictions.push({{ prediction }});
        lowerBounds.push({{ lower }});
        upperBounds.push({{ upper }});
    {% endfor %}

    var ctx = document.getElementById('forecastChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: rawDates.concat(forecastDates),
            datasets: [
                {
                    label: 'Données Brutes',
                    data: rawQuantities,
                    borderColor: 'black',
                    fill: false
                },
                {
                    label: 'Prévision',
                    data: Array(rawDates.length).fill(null).concat(predictions),
                    borderColor: 'blue',
                    fill: false
                },
                {
                    label: 'Borne inférieure (IC)',
                    data: Array(rawDates.length).fill(null).concat(lowerBounds),
                    borderColor: 'red',
                    fill: false
                },
                {
                    label: 'Borne supérieure (IC)',
                    data: Array(rawDates.length).fill(null).concat(upperBounds),
                    borderColor: 'green',
                    fill: false
                }
            ]
        },
        options: {
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Quantité consommée'
                    }
                }
            }
        }
    });
</script>
<script>
    function redirectToSection(select) {
        var selectedOption = select.options[select.selectedIndex];
        var url = selectedOption.value;
        if (url !== "") {
            window.location.href = url;
        }
    }
</script>
{% endblock scripts %}
